<div class="">
  <div class="text-center m-20">
    <app-menu-filter (selectedType)="filterMenu($event)"></app-menu-filter>
  </div>
  <div *ngIf="weightToggle" class="text-center m-20">
    <app-menu-switch-weight (isMetric)="switchWeight($event)">

    </app-menu-switch-weight>
  </div>
  <div class="container">
    <div class="row">
      <div
        *ngFor="let item of menuFiltered"
        class="col-sm-6 col-xs-12 m-20">
        <app-menu-list-item
          [menuItem]="item"
          [isMetric]="isMetric">
        </app-menu-list-item>
      </div>
    </div>
  </div>
</div>
