<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center m-20">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>404 Page Not Found</h1></mat-card-title>
          <mat-card-subtitle>Address is invalid.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions class="m-b-10">
          <button color="primary" routerLink="/" mat-raised-button>Go Home</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
