<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z6">
    <div *ngIf="!this.matchMedia">
      <button routerLink="/" mat-button>
        Home
      </button>
      <button routerLink="/menu" mat-button>
        <mat-icon>cake</mat-icon>
        Our Menu
      </button>
      <button routerLink="/faq" mat-button>
        <mat-icon>question_answer</mat-icon>
        FAQ
      </button>
      <button (click)="openDeliveryDialog()" mat-button>
        <mat-icon>local_shipping</mat-icon> Delivery Quote
      </button>
      <button (click)="openContactsDialog()" mat-button>
        <mat-icon>phone</mat-icon>
        Contacts
      </button>
    </div>
    <div *ngIf="this.matchMedia">
      <button mat-icon-button (click)="openSidenav()">
        <mat-icon class="menu">menu</mat-icon>
      </button>
    </div>
    <span class="spacer"></span>
    <div *ngIf="!authService.isLoggedIn()">
      <button
        (click)="openLoginDialog()"
        mat-button>Login
      </button>
      <button
        (click)="openRegisterDialog()"
        mat-button>Register
      </button>
    </div>
    <div *ngIf="authService.isAdmin()">
      <mat-menu #appMenu="matMenu">
        <button routerLink="admin/menu" mat-menu-item>Menu</button>
        <button routerLink="admin/ingredients" mat-menu-item>Ingredients</button>
        <button routerLink="admin/faq" mat-menu-item>FAQ</button>
        <button
        routerLink="admin/clients"
        mat-menu-item>Clients</button>
        <button routerLink="admin/contacts" mat-menu-item>Contacts</button>
        <button
        mat-menu-item
        routerLink="admin/orders"
        >Orders</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="appMenu">
        <mat-icon>settings</mat-icon>
        <span>Admin</span>
      </button>
    </div>
    <div *ngIf="authService.isLoggedIn()">
      <button *ngIf="!authService.isAdmin()"
      mat-button
      [routerLink]="['/user/', authService.currentUserId]">
        <span>
          <mat-icon class="">account_circle</mat-icon>
          <span *ngIf="!this.matchMedia">{{ authService.currentUserEmail }}</span>
        </span>
      </button>
      <button (click)="authService.logout()"
        mat-button>
        Logout
      </button>
    </div>

  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="this.matchMedia">
    <button (click)="openDeliveryDialog()" mat-button>
      <mat-icon>local_shipping</mat-icon>
      Delivery Quote
    </button>
    <button routerLink="/faq" mat-button>
      <mat-icon>question_answer</mat-icon>
      FAQ
    </button>
  </mat-toolbar-row>
</mat-toolbar>

