<div class="container">
  <h2>Register</h2>
  <form class="form m-20 text-center" #f="ngForm" novalidate (ngSubmit)="register()">
    <mat-form-field class="m-b-10">
      <input
      #emailInput="ngModel"
      type="email"
      name="email"
      [(ngModel)]="credentials.email"
      matInput
      placeholder="Email"
      email="true"
      required>
      <mat-error *ngIf="emailInput.invalid && emailInput.dirty">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="m-b-10">
      <input
      #passwordInput="ngModel"
      type="password"
      name="password"
      [(ngModel)]="credentials.password"
      matInput
      minlength="6"
      maxlength="12"
      placeholder="Password"
      required>
      <mat-error *ngIf="(passwordInput.errors && passwordInput.errors.required) && passwordInput.dirty">
        Password should be at least 6 characters.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="m-b-10">
      <input
      #lastNameInput="ngModel"
      type="text"
      name="lastName"
      [(ngModel)]="credentials.name"
      matInput
      placeholder="Name"
      >
    </mat-form-field>
    <br>
    <mat-form-field class="m-b-10">
      <input
      #phoneInput="ngModel"
      type="number"
      name="phone"
      [(ngModel)]="credentials.phone"
      matInput
      pattern="^([\d]{10})$"
      minlength="10"
      placeholder="Phone Number"
      >
      <mat-error *ngIf="(phoneInput.errors && phoneInput.errors.pattern) && phoneInput.dirty">
        Enter 10 digit US phone number.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="m-b-10">
      <input
      #streetInput="ngModel"
      type="text"
      name="street"
      [(ngModel)]="credentials.address"
      matInput
      placeholder="Address"
      >
    </mat-form-field>
    <br>
    <mat-form-field class="m-b-10">
      <input
      #zipCodeInput="ngModel"
      type="number"
      name="zipCode"
      [(ngModel)]="credentials.zipCode"
      matInput
      pattern="^([\d]{5})$"
      maxlength="5"
      placeholder="Postal Code"
      >
      <mat-error *ngIf="(zipCodeInput.errors && zipCodeInput.errors.pattern) && zipCodeInput.dirty">
        Please provide 5 digit postal code.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-error *ngIf="invalidCredentials">
      Oops, something went wrong.
    </mat-error>
    <div class="text-center">
      <button mat-raised-button [disabled]="!f.valid">Register</button>
    </div>
  </form>
</div>
