<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z6">
    <button routerLink="/" mat-button>
      Home
    </button>
    <button routerLink="/menu" mat-button>
      Menu
    </button>
    <button (click)="openDeliveryDialog()" mat-button>
      <mat-icon>local_shipping</mat-icon> Delivery Quote
    </button>
    <span class="spacer"></span>
    <button
    *ngIf="!authService.isLoggedIn()"
    (click)="openLoginDialog()"
    mat-button>Login</button>
    <button
    *ngIf="!authService.isLoggedIn()"
    (click)="openRegisterDialog()"
    mat-button>Register</button>
    <button
    *ngIf="authService.isLoggedIn()"
    mat-button
    [routerLink]="['/user/', authService.currentUserId]">
    <span>
      <mat-icon class="">account_circle</mat-icon>
      {{ authService.currentUserEmail }}
    </span>
    </button>
    <button
    (click)="authService.logout()"
    *ngIf="authService.isLoggedIn()"
    mat-button>Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

