<div class="container1">
  <mat-grid-list cols="2" [rowHeight]="!matchMedia ? '1:1' : '2:1'">
    <mat-grid-tile class="image" [style.background-image]="'url(../../assets/img10.jpeg)'">
      2
    </mat-grid-tile>
    <mat-grid-tile class="image" [style.background-image]="'url(\'../../assets/img14.jpeg\')'">
      2
    </mat-grid-tile>
    <mat-grid-tile class="image" [style.background-image]="'url(\'../../assets/img5.jpeg\')'">
      2
    </mat-grid-tile>
    <mat-grid-tile class="image" [style.background-image]="'url(\'../../assets/img4.jpeg\')'">
      2
    </mat-grid-tile>
    <mat-grid-tile class="image" [style.background-image]="'url(\'../../assets/img25.jpeg\')'">
      2
    </mat-grid-tile>
    <mat-grid-tile class="image" [style.background-image]="'url(\'../../assets/img27.jpeg\')'">
      2
    </mat-grid-tile>
  </mat-grid-list>
</div>
