<div class="container" *ngIf="item">
  <mat-card class="m-20">
    <app-photo-carousel [photos]="item.photos"></app-photo-carousel>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-header class="m-t-10">
      <mat-card-title>
        <h2>
          {{ item.name }}
        </h2>
      </mat-card-title>
      <mat-card-subtitle>
        {{ item.type }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content class="m-t-10">
      <p>
        {{ item.description }}
      </p>
      <p *ngIf="item.type == 'Cake'" class="weight">
        Minimum Weight: {{ menuItemService.getMinimumWeight(item, isMetric) }}
      </p>
    </mat-card-content>
  </mat-card>
  <app-item-price-card [item]="item" (isMetric)="switchWeight($event)"></app-item-price-card>
  <app-item-ingredients [ingredients]="item.ingredients"></app-item-ingredients>
</div>
