<div class="container">
  <div class="text-center m-20">
    <h1>You have {{ this.numberOfUsers }} clients.</h1>
  </div>
  <div class="mat-elevation-z8 m-t-10">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell class="flex-1" *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell class="flex-1" *matCellDef="let user"> {{user.id}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell class="flex-1" *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell class="flex-1" *matCellDef="let user"> {{user.name}} </mat-cell>
      </ng-container>

      <!-- type Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell class="flex-2" *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
        <mat-cell class="flex-2" *matCellDef="let user"> {{user.phone | phonePipe}} </mat-cell>
      </ng-container>

      <!-- Desc Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
        <mat-cell class="no-overflow" *matCellDef="let user"> {{user.address  + ' ' + user.zipCode}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <app-progress-bar></app-progress-bar>
</div>
