<div class="footer-wrap">
  <div class="text-center full-width">
    <h1 class="title">General Info</h1>
    <div class="title-border"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 row info-unit">
        <mat-icon class="col-3">access_time</mat-icon>
        <h2 class="col-9">
          Open hours:
          <br>
          8am - 11pm
        </h2>
      </div>
      <div class="col-sm-6 row info-unit">
        <mat-icon class="col-3">date_range</mat-icon>
        <h2 class="col-9">
          Manufacturing takes us about 2-5 days.
        </h2>
      </div>
      <div class="col-sm-6 row info-unit">
        <mat-icon class="col-3">phone</mat-icon>
        <h2 class="col-9">
          For orders call:
          <br>
          {{ this.phoneNumber | phonePipe }}
        </h2>
      </div>
      <div class="col-sm-6 row info-unit">
        <mat-icon class="col-3">local_shipping</mat-icon>
        <h2 class="col-9">
          Delivery of cakes and orders of 100+ macarons are free in Chicago.
        </h2>
      </div>
    </div>
    <div class="info-unit">
      <div class="text-center cust-text">
        <h1>
          <mat-icon class="brush">brush</mat-icon>
          Customization
        </h1>
        <div class="title-border w-2"></div>
      </div>
      <div class="container">
        <h2>
          <ul>
            <li>
              We don`t cover cakes with gum paste, only with cream, but we make figurines with gum paste.
            </li>
            <li>
              The price of decoration is calculated based on complexity and quantity. Berry decor is free.
            </li>
            <li>
              The minimum weight of the cake is 4.4 pounds (2 kg.).
            </li>
          </ul>
        </h2>
      </div>
    </div>
  </div>
</div>
