/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

*{
  margin: 0;
}

// Remove default outline
button:focus {outline:0;}

// Delete number input spinners
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// icons centered
mat-icon{
  vertical-align: middle;
}
.navbar-spacing{
    margin-top: 64px;
    overflow-y: auto;
  }
.m-20{
  margin: 20px 0;
}
.m-10{
  margin: 10px;
}
.m-b-10{
  margin-bottom: 10px;
}
.m-b-20{
  margin-bottom: 20px;
}
.m-t-10{
  margin-top: 10px;
}
.m-l--10{
  margin-left: -10px;
}
.m-t--20{
  margin-top: -20px;
}
.image{
  background-size: cover;
  background-position: center;
}
@media (max-width: 667px) {
  .navbar-spacing{
    margin-top: 56px;
  }
}
