.small-image{
  height: 80px;
  width: 80px;
  object-fit: cover;
}
.small-margin{
  margin-top: -16px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}
.image-container{
  width: calc(100% + 48px);
  margin: -24px -24px 0px -24px;
  padding: 0;
}
.image-container .outer {
  width: 100%;
  padding-top: 56.25%; /* defines aspect ratio 16:9 */
  position: relative;
}
.image-container .outer .fix-height{
  /* height: 520px; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.overflow{
  overflow-x: auto;
}
.icon{
  position: absolute;
  top: 45%;
  color: #fff;
  font-size: 300%;
  cursor: pointer;
  text-shadow: 2px 2px #1f050591;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.left{
  left: 5%;
}
.right{
  right: 5%;
}
.bottom{
  font-size: 500%;
  left: 45%;
  top: 80%;
  color: red;
}
